*{
    margin: 0;
    padding: 0;
}
.main{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(39, 38, 36);
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.logo{
    background: linear-gradient(to left, rgb(90, 6, 90),rgb(240, 11, 49));
    -webkit-background-clip: text;
    color: transparent;
    font-size: 25px;
    margin: 20px 0px;
    padding-left: 140px;
    padding-top: 35px;
}
span{
    color: white;
}
nav ul li{
    display: inline-block;
    margin: 30px 30px;
}
nav ul li a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.button{
    background: linear-gradient(to left, rgb(212, 14, 202),rgb(219, 40, 70));
    --webkit-background-clip: background;
    font-size: 18px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
    border: 0px;
}
.landing{
    display:flex ;
    justify-content: space-around;
}
h1{
    background: linear-gradient(to left, rgb(241, 186, 5),rgb(85, 5, 54));
    -webkit-background-clip: text;
    color: transparent;
    font-size: 60px;
    padding-top: 100px;
}
h2{
    color: aliceblue;
    font-size:50px;
}
p{
    color: whitesmoke;
    padding-top: 20px;
    font-size: 23px;
}
h4{
    color: aliceblue;
    padding-top: 20px;
    font-size: 22px;
    padding-left: 10px;
}
.img{

    height: 500px;
    border: radius 0px;
    padding-top: 200px;
    width: 400px;
    background: linear-gradient(to left, rgb(241, 186, 5),rgb(170, 8, 108));
    --webkit-background-clip: background;
    color: transparent;
}
.button1{
    color: white;
    background: linear-gradient(to right, rgb(219, 4, 137),rgb(180, 90, 68));
    -webkit-background-clip: background;
    font-size: 15px;
    border-radius: 8px;
    padding-top: 8px;
    padding-bottom: 5px;
    border: 0px;
    width: 200px;
}
.button2{
    color: aliceblue;
    background-color:rgb(39, 38, 36);
    border: 1%;
    border-color: rgb(209, 51, 138);
    font-size: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 300px;
    border-radius: 10px;
}
.btn{
    padding-top: 60px;
    display: inline-flex;
    gap: 98px;
}
ul li{
    
    list-style:none ;
}

.landing-text {
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding-top: 150px;
}
ul.items{
    padding-top: 2%;
    padding-right: 50px;

}
.sub{
    background: linear-gradient(to left, rgb(241, 186, 5),rgb(170, 8, 108));
    --webkit-background-clip: background;
    color: transparent;
    height: 500px;
    width: 500px;
    display: flex;
    padding-top: 100px;
    border-radius: 30px;
}
marquee{
    background-color: white;
    background: linear-gradient(to right, rgb(219, 4, 137),rgb(180, 90, 68));
    -webkit-background-clip: background; 
    color:white;
    height:20px;
    font-size:18px;
    padding-bottom:4px;
    padding-top: 4px;
}
.ftext{
    padding-top: 30px;
}
.About{
    background-color:rgb(39, 38, 36) ;
    display: flex;
    justify-content: space-around;
}
.pic{
    padding-left: 150px;
    padding-top: 100px;
}
img{
    height:400px;
}
.aboutme{
    padding-top: 150px;
    padding-left: 300px;
    color: white;
}
h5{
    font-size: 42px;
    color: white;
    padding-left: 4px;
}
h6{
    font-size: 20px;
    color: antiquewhite;
    padding-top: 20px;
}
.container{
    background-color:rgb(39, 38, 36) ;
}
.card-container{
    display: flex;
    height: 400px;
    justify-content: space-around;
    padding-top: 50px;
    padding-bottom: 10                                                                                                                                                                                                                                                                                                                                                                                                                      px;
}
.card1{
    background-color: rgb(29, 31, 32);
    width: 400px;
    border-radius: 20px;
    text-align: center;
}
.card2{
    background-color: rgb(29, 31, 32);
    width: 400px;
    border-radius: 20px;
    text-align: center;
}
.card3{
    background-color:rgb(29, 31, 32); 
    width: 400px;
    border-radius: 20px;
    text-align: center;
}
.card4{
    background-color: rgb(29, 31, 32);
    width: 400px;
    border-radius: 20px;
    text-align: center;
}
.done{
    padding-left: 40px;
    padding-top: 40px;
}
.contact{
    min-height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.contact form{
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rbga(0,0,0,0,5);
    border-radius:15px;
    background:rgba(255,255,255,0..1);
    backdrop-filter: blur(10px);
    flex-wrap:wrap;
    gap: 15px;
}
.contact form h1{
    color: white;
    font-weight: 500;
   
    margin-bottom: 15px;
    width: 500px;
    text-align: center;
}
.contact form input{
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid white;
}
.contact form input::placeholder{
    color: white;
}

 .contact form #lastname
 .contact form #mobile{
    margin-left: 20px;
 }

 .contact form h4{
    color: azure;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
 }

 .contact form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-width: 80px;
 }

 textarea::-webkit-scrollbar-thumb{
    background-color: antiquewhite;
 }

 .contact form #button{
    border: none;
    background: white;
    border-radius: 5px;
    font-weight: 500;
    margin-top: 20px;
    font-size: 20px;
    color: rgb(70, 3, 50);
    width:100px ;
    padding: 0%;
    margin-right: 500px;
    margin-bottom: 30px;
    transition: .3s;
 }
 .contact  form #button:hover{
    opacity: 0,7;
 }

.card1-img {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 50px;
}
.card1 img{
height:250px;
}
.card2-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.card2 img{
    height: 250px;
    width: 330px;
}
.card3-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.card3 img{
    height: 250px;
    width: 320px;
}
.card4-img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
.card4 img{
    height:250px;
    width: 320px;
}
.gtext{
background-color: black;
}
